{% extends "base.html" %}
{% load static %}

{% block body %}

<h2 align="center">All Blogs</h2>
<div class="container">
    <div class="row">
        {% for p in posts %}
        <div class="col-md-4">
            <div class="card shadow-sm my-2" style="width: 100%;">
                <img src="{{ p.image.url }}" alt="{{ p.title }}" class="card-img-top" style="width: 100%; height: 200px; object-fit: cover;">
                <div class="card-body">
                    <p class="card-title btn">{{ p.title | truncatewords:2|safe }}</p>
                    {% comment %} <p class="card-text">{{ p.content |truncatewords:5|safe }}</p> {% endcomment %}
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="read" href="{{ p.get_absolute_url }}" role="button">Read More..</a>
                        <small class="readtime text-body-secondary">4 mins</small>
                    </div>
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> {% endcomment %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}